body{
    background-color: rgba(230, 227, 57, 0.438);
    color: red;
    font-family: 'Times New Roman', Times, serif;
    
}
img{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
div.logo{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
}

intro-h3{
    color: red;
    text-align: left;
}
div.intro{
  border-color: black;
  border: 1px solid black;
  color: black;
  backface-visibility: hidden;
}

div.intro h1{
    color: black;
    text-align: center;
    font-family: 'Courier New', monospace; /* Better for typewriter effect */
}

div.intro h1{
    color: black;
    text-align: left;
    font-family: 'Courier New', monospace; /* Better for typewriter effect */
}

#logo-img{
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.side-bar{
    width: fit-content;
    height: 95vh;
    padding: 20px;
}

#side-bar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main{
    display:flex;
}

#content{
    display: flex;
    flex-direction: column;
    ;
}

table{
    border: 1px solid black;
    width: 50%;
    text-align: center;
    tr{
        background-color: azure;
        border: 1px solid black;
    }
    td{
        border: 1px solid black;
    }
}
